
.search-form{
    padding: 15px;
}
.p{
    text-align: justify;
}
.search-form .form-inline .form-group {
    width: 100%; 
}
.search-form .search-toggle {
    margin-top: 15px;
    overflow: hidden;
    padding: 0px;
}
.form-inline .form-control, .form-inline .form-control { 
    width: 100%;
}

.search-form {
    margin-top: 15px;
    overflow: hidden;
    color: #777;
    border-top: 1px solid #EAEAEA;
    padding: 0px;
}

.search-form {
    padding: 20px 30px;
}

.search-form .form-inline .form-group {
    width: 195px; 
}

.form-inline .form-control, .form-inline .form-control {
    width: 100%;
}

.search-btn ,.toggle-btn{
    background-color: #5544ee;
    color: #333;
    font-size: 16px;
    border: 1px solid #EAE9E9;
    width: 40px;
    height: 40px;
    color: #FFF;
    transition: all 0.3s ease 0s; 
    padding: 0px;

}


